{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 shadow-lg rounded w-50 text-center">
        <h2 class="fw-bold mb-3">Você saiu da sua conta</h2>
        <p>Se deseja acessar novamente, clique no botão abaixo.</p>
        <a href="{% url 'login' %}" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Fazer login</a>
    </div>
</div>
{% endblock %}

