{% extends "base.html" %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 shadow-lg rounded w-50">
        <h2 class="text-center fw-bold mb-3"><i class="fas fa-lock"></i> Redefinir Senha</h2>
        <p class="text-center text-muted">Informe seu e-mail e enviaremos um link para redefinição de senha.</p>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_email" class="form-label fw-bold"><i class="fas fa-envelope"></i> E-mail:</label>
                {{ form.email }}
            </div>

            <button type="submit" class="btn btn-success w-100"><i class="fas fa-paper-plane"></i> Enviar Link de Redefinição</button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-decoration-none fw-bold"><i class="fas fa-arrow-left"></i> Voltar para o Login</a>
        </div>
    </div>
</div>
{% endblock %}
